body {
  box-sizing: border-box;
}

.containerBoxes {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: yellow;
}

.buttons {
  margin-top: 2rem;
  max-width: 50%;
}

button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

button:first-child,
button:last-child {
  margin: auto;
  display: block;
}

.red {
  background: red;
}
